.footer{
    height: 7%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #1C1C1C;
}
h4{
    color: rgb(155, 152, 152);
    font-size: 1rem;
    margin: 0;
    border-radius:20px ;
}